# App sources
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: imdbgraph
  namespace: flux-system
spec:
  path: ./infra/k8/apps/imdbgraph/staging
  dependsOn:
    - name: system
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 10m
  retryInterval: 1m
  timeout: 5m
  prune: true

# System components
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: system
  namespace: flux-system
spec:
  path: ./kubernetes/common/system/staging 
  dependsOn:
    - name: helm
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 1h0m
  retryInterval: 1m
  timeout: 5m
  prune: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: helm
  namespace: flux-system
spec:
  path: ./kubernetes/common/helm/staging 
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 1h0m
  retryInterval: 1m
  timeout: 5m
  prune: true